<template>
    <div class="row">
        <div class="small-12 medium-8 columns end">
            <form validation-renderer="foundation-form" validation-errors.bind="errors">
                <fieldset class="fieldset login-fieldset">
                    <validation-summary errors.bind="errors" autofocus.bind="controller.validateTrigger === 'manual'">
                    </validation-summary>
                    <div class="form-row">
                        <label for="user-id-input" t="user-id_label"></label>
                        <input id="user-id-input" type="text" value.bind="vm.user.userId & validate" focus.bind="vm.userIdHasFocus" t="[placeholder]user-id_placeholder">
                    </div>
                    <div class="form-row">
                        <label for="credentials-input" t="credentials_label"></label>
                        <input id="credentials-input" type="password" value.bind="vm.user.credentials & validate" focus.bind="vm.credentialsHasFocus" keypressInput.bind="keypressInput($event)" t="[placeholder]credentials_placeholder">
                    </div>
                    <div class="form-row">
                        <button type="button" class="button expanded radius" click.trigger="signin($event)">
                            <span t="signin_button"></span>
                        </button>
                    </div>
                    <div class="form-row">
                        <button type="button" class="button expanded hollow" click.trigger="goToForgotPassword($event)">
                            <span t="go-to-forgot-password_button"></span>
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <span class="text-center disclaimer" t="disclaimer_message">
            </span>
        </div>
    </div>
</template>
