<template>
    <div class="row">
        <div class="small-12 columns">
            <div class="button-group expanded">
                <button class="button" click.trigger="goToEnrollChallengeQuestionAnswers($event)">
                    <span t="go-to-enroll-challenge-question-answers_button"></span>
                </button>
                <button class="button" click.trigger="goToEnrollPhoneInfos($event)">
                    <span t="go-to-enroll-phone-infos_button"></span>
                </button>
                <button class="button" click.trigger="goToEnrollEmailInfos($event)">
                    <span t="go-to-enroll-email-infos_button"></span>
                </button>
            </div>
        </div>
    </div>
    <compose view-model="${editCredentialsViewModel}" model.bind="vm"></compose>
</template>
