<template>
    <ux-dialog>
        <ux-dialog-header>
            <h3>
                <i t="[class]verify-email-info_icon"></i>
                <span t="verify-email-info_header"></span>
            </h3>
        </ux-dialog-header>
        <ux-dialog-body>
            <div class="row">
                <div class="small-12 columns" t="[html]verify-email-info_message" t-params.bind="vm.messageParams">
                </div>
            </div>
            <div if.bind="!vm.eventTimerExpired" class="row">
                <div class="small-12 columns">
                    <span t="remaining-time_label"></span><span>${vm.remainingTime | timerFormatter}</span>
                </div>
            </div>
            <div if.bind="vm.eventTimerExpired" class="row">
                <div class="small-12 columns" t="[html]verification-code-expired_message">
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <form validation-renderer="foundation-form" validation-errors.bind="errors">
                        <fieldset class="fieldset">
                            <div class="form-row">
                                <label for="verification-code-input" t="verification-code_label"></label>
                                <input id="verification-code-input" type="text" autocomplete="off" value.bind="vm.verificationCode & validate" attach-focus.bind="vm.verificationCodeHasFocus" t="[placeholder]verification-code_placeholder">
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </ux-dialog-body>
        <ux-dialog-footer>
            <button type="button" class="hollow button" click.trigger="cancel($event)">
                <span t="cancel_button"></span>
            </button>
            <button if.bind="vm.eventTimerExpired" type="button" class="hollow button" click.trigger="resend($event)">
                <span t="resend-code_button"></span>
            </button>
            <button if.bind="!vm.eventTimerExpired" type="button" class="hollow button" click.trigger="verify($event)">
                <span t="verify_button"></span>
            </button>
        </ux-dialog-footer>
    </ux-dialog>
</template>
