<template>
    <div class="row">
        <div class="small-12 medium-8 columns end">
            <h3>
                <i t="[class]service_icon"></i>
                <span t="unlock-account_header"></span>
            </h3>
            <h2>
                <span t="signed-in-as_label" t-params.bind="vm.user"></span>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-8 columns end" t="[html]unlock-account_message">
        </div>
    </div>
</template>
