.page-margins {
    margin-left: $global-margin;
    margin-right: $global-margin;
}

.login-fieldset {
    background: $login-fieldset-background;
    border-radius: $login-fieldset-radius;
    border: $login-fieldset-border;
}

.disclaimer-fieldset {
    border: none 0;
    margin: 0;
    padding: 0;
}

.disclaimer {
    display: block;
    font-size: $disclaimer-font-size;
    margin-top: $disclaimer-margin-top;
}

.copyright {
    display: block;
    font-size: $copyright-font-size;
    margin-top: $copyright-margin-top;
}

.c-cta {

    &--alert {
        color: $input-error-color;

        &:hover, &:focus {
            color: $input-error-color;
        }

        &:active, &:active:hover, &:active:focus {
            transition-timing-function: ease-in;
            transition-duration: 150ms;
        }
    }
}

.fa-complete {
    color: $white;
}

.fa-warning {
    color: $yellow;
}

.fa-error {
    color: $red;
}

.c-wizard {
    margin-bottom: $wizard-margin;
}

.button {
    &--full {
        width: 100%;
    }
}

.c-action-bar {
    background-color: $light-gray;
    margin-top: $actionbar-margin;
    padding-top: $actionbar-padding;
    padding-bottom: $actionbar-padding;
}

.fa-va-m {
    vertical-align: middle;
}

.u-dis-b {
    display: block;
}

.u-lh-lg {
    line-height: 2.5rem;
}

.u-gutt-3 {
    margin-bottom: $global-margin;
}

.u-gutt-sm-2 {
    margin-right: $global-margin / 2;
}

.u-gutt-sm-4 {
    margin-left: $global-margin / 2;
}

.u-gutt-sm-2-4 {
    margin-right: $global-margin / 2;
    margin-left: $global-margin / 2;
}

.u-logo {
    margin: 0;
    padding: 0;
    border: none 0;
}

.c-topbar {
    margin-bottom: $global-margin * 2;
}

.c-topbar-menu {
    height: 3rem;
}

.c-topbar-logo {
    height: 3rem;
    width: 3rem;
}

.c-topbar-title {
    font-size: $global-font-size;
    line-height: $topbar-lineheight;
    font-weight: $global-weight-bold;
}

.o-flex {
    -js-display: flex;
    display: flex;

    &__cell {
        flex-shrink: 0;
        flex-grow: 1;
    }

    &--justify {
        justify-content: space-between;
    }

    &--stretch, &--stretch {
        align-items: stretch;
    }

    &--grid {
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: space-between;
        width: 100%;
    }

    &--wrap {
        flex-wrap: wrap;
        width: 100%;

        > * {
            width: 100%;
        }
    }
}

.o-flex {
    &__cell {
        &-1 {
            order: 1;
        }

        &-2 {
            order: 2;
        }

        &-3 {
            order: 3;
        }
    }
}
