


/*$foundation-palette: (
    primary: #1779ba,
    secondary: #767676,
    success: #3adb76,
    warning: #ffae00,
    alert: #cc4b37,
);
$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #0a0a0a;

$color-info: #2199e8;
$color-strong: #3adb76;*/
$white: #fefefe;
$yellow: #ffae00;
$red: #ec5840;

$light-blue: rgba(173,216,250,0.1);

$login-fieldset-background: $light-blue;
$login-fieldset-background-fade: 85%;
$login-fieldset-border: 0 none;
$login-fieldset-radius: $global-radius;

$disclaimer-font-size: 0.675rem;
$disclaimer-margin-top: 2rem;

$copyright-font-size: 0.675rem;
$copyright-margin-top: 2rem;

$topbar-lineheight: 1.5rem;

$button-size-huge: 3rem;

$wizard-margin: 1rem;

$actionbar-margin: 1rem;
$actionbar-padding: 1rem;
