<template>
    <compose view-model="${enrollCredentialsViewModel}" model.bind="vm"></compose>
    <div class="row c-action-bar">
        <div class="small-12 medium-8 columns">
            <strong t="enrollment-step_header"></strong>
        </div>
        <div class="small-12 medium-4 columns">
            <button type="button" class="button" click.trigger="skip($event)" if.bind="!enrollCredentialsComplete">
                <span t="skip_button"></span>
            </button>
        </div>
        <div class="small-12 medium-4 columns">
            <button type="button" class="button" click.trigger="next($event)" if.bind="enrollCredentialsComplete">
                <span t="next_button"></span>
            </button>
        </div>
    </div>
</template>
