<template>
    <div class="row">
        <div class="small-12 medium-8 columns end">
            <h3>
                <span t="enrollment-intro_header"></span>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-8 columns end" t="[html]enrollment-intro_message">
        </div>
    </div>
    <div class="row c-action-bar">
        <div class="small-12 columns">
            <button type="button" class="button" click.trigger="start($event)">
                <span t="start_button"></span>
            </button>
        </div>
    </div>
</template>
