<template>
    <div class="row">
        <div class="small-12 medium-8 columns end">
            <h3>
                <span t="enrollment-intro_header"></span>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-8 columns end" t="[html]enrollment-intro_message">
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <div class="button-group expanded">
                <button class="button button--full" click.trigger="goToChallengeQuestionAnswers($event)">
                    <span class="u-dis-b text-center">
                        <i t="[class]challenge-questions_icon"></i>
                    </span>
                    <span class="u-lh-lg text-center">
                        <span t="go-to-challenge-questions_button"></span>
                    </span>
                </button>
                <button class="button button--full" click.trigger="goToPhoneInfos($event)">
                    <span class="u-dis-b text-center">
                        <i t="[class]phone-infos_icon"></i>
                    </span>
                    <span class="u-lh-lg text-center">
                        <span t="go-to-phone-infos_button"></span>
                    </span>
                </button>
                <button class="button button--full" click.trigger="goToEmailInfos($event)">
                    <span class="u-dis-b text-center">
                        <i t="[class]email-infos_icon"></i>
                    </span>
                    <span class="u-lh-lg text-center">
                        <span t="go-to-email-infos_button"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</template>
