<template bindable="router">
    <nav styles.nav>
        <span styles.product-name>Aurelia UX</span>
        <ul styles.nav-list>
            <li styles.nav-item repeat.for="row of router.navigation | authFilter: isAuthenticated" class="${nav.isActive ? 'active' : ''}">
                <a href.bind="row.href" t.bind="row.settings.t">${row.title}</a>
            </li>
        </ul>
    </nav>
    <a class="top" click.trigger="goToLogout($event)" if.bind="isAuthenticated">
        <span t="go-to-logout_button"></span>
    </a>
    <header styles.header>
        <h1>${router.currentInstruction.config.navModel.title}</h1>
    </header>
    <loading-indicator loading.bind="router.isNavigating || api.isRequesting"></loading-indicator>
</template>